[submodule "References/CAN485"]
	path = References/CAN485
	url = https://github.com/Atlantis-Specialist-Technologies/CAN485/
[submodule "References/libcanard"]
	path = References/libcanard
	url = https://github.com/UAVCAN/libcanard
[submodule "References/Adafruit_BNO055"]
	path = References/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055
[submodule "References/Adafruit_AHRS"]
	path = References/Adafruit_AHRS
	url = https://github.com/adafruit/Adafruit_AHRS
[submodule "References/Adafruit_LSM9DS1"]
	path = References/Adafruit_LSM9DS1
	url = https://github.com/adafruit/Adafruit_LSM9DS1
[submodule "References/Adafruit_FXOS8700"]
	path = References/Adafruit_FXOS8700
	url = https://github.com/adafruit/Adafruit_FXOS8700
[submodule "References/Adafruit_FXAS21002C"]
	path = References/Adafruit_FXAS21002C
	url = https://github.com/adafruit/Adafruit_FXAS21002C
