[submodule "libcanard"]
	path = libcanard
	url = https://github.com/UAVCAN/libcanard
[submodule "Arduino/Wing_Segment/src/libcanard"]
	path = Arduino/Wing_Segment/src/libcanard
	url = https://github.com/UAVCAN/libcanard
[submodule "Arduino/Wing_Segment/src/avr-can-lib"]
	path = Arduino/Wing_Segment/src/avr-can-lib
	url = https://github.com/rennerm/avr-can-lib/
